@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    padding-top: 120px;
    /*padding-bottom: 100px;*/
    margin-bottom: 100px;
    clear: both;
}

nav {
    position: absolute;
}

p,
li,
h2 {
    color: #d8d8d8;
}

form {
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
}

div>img {
    width: auto;
    height: 720px;
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 200px;
}

.background-image {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../imgs/img1.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.background-image::before {
    content: "";
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
}

#intro {
    text-align: center;
}

.imagen_intro {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}